.page-title {
	margin-bottom: 15px;
	color: $gray-color-light;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	text-transform: uppercase;
}

.page-heading {
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 1.5;
	color: $black;

	@include laptop {
		font-size: 34px;
	}

	@include wide-phone {
		font-size: 30px;
	}
}

.gray-block {
	background: $bg-color;
	border-radius: $border-radius-base;
	overflow: hidden;

	&_bckg {
		background-color: $bg-mobile-menu;
	}
}

.see-all-articles {
	@include arrow-swipe-right(5px);

	display: inline-block;
	padding-right: 50px;
	font-weight: 600;
}

.js-applianceTypesSlider {
	.categories-grid__cell {
		margin-left: 0 !important;
	}
}

.loader {
	position: relative;
	margin: 0 auto;
	width: 50px;

	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	&__timer {
		@extend %centered-self;
	}
}

.circular {
	animation: rotate 1s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke: $primary-color;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1s ease-in-out infinite;
	stroke-linecap: round;
}
