#rateYo {
	margin: 0 auto;
}

.review-popup {
	max-width: 100%;
	width: 500px;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__start {
		margin-top: 30px;
		text-align: center;
	}

	&__five-stars {
		text-align: center;
	}

	&__end {
		text-align: center;

		.js-closePopup {
			width: 220px;
		}
	}

	&__buttons {
		margin-top: 55px;

		.btn {
			&:not(:first-child) {
				margin-left: 20px;
			}
		}
	}

	.icon-circle_ok {
		color: $primary-color;
		font-size: 100px;
	}
}

.js-redirectTimer {
	.loader {
		margin-top: 10px;
	}
}
