%btn {
  display: inline-block;
  height: $btn-height;
  padding: $btn-padding;
  font-size: $btn-font-size;
  line-height: $btn-height - ($btn-border-width*2);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: $btn-border-width solid transparent;
  border-radius: $border-radius-base;
  cursor: pointer;
  transition: all .2s ease;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }

  @include tablets {
    height: 50px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 50px;
  }

  @include phones {
    padding: 0 15px;
  }
}

%form-element {
  background-color: $input-bg-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius-base;
  color: $text-color;
  display: inline-block;
  height: $input-height;
  outline: none;
  padding: $input-padding;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  &:focus {
    border-color: $primary-color;
  }

  @include laptop {
    font-size: 16px;
  }

  @include wide-phone {
    font-size: 14px;
  }
}

%ttl-base {
  margin-top: 0;
  margin-bottom: 45px;
  color: black;
  font-size: 58px;
  line-height: 1.2;
  font-weight: bold;

  @include laptop {
    margin-bottom: 25px;
    font-size: 34px;
  }

  @include wide-phone {
    font-size: 30px;
  }
}

%subttl-base {
  color: black;
  font-size: 42px;
  line-height: 1.25;
  font-weight: bold;
}

%clearfix {
  &:before,
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

%justify-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

%centered-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
