//** Colors
$mainRed: #a63a42;
$redButtonHover: #DB333F;
$mainTitle: #333;
$mainText: #717171;
$reviewText: #6b6b6b;
$reviewButton: #989898;
$lightGrey: #EFEFEF;
$lightBg: #f9f9f9;

//** Typography
$font-family-base: Outfit, Arial, sans-serif !default;
$font-family-title: Thunder, Arial, sans-serif;
$font-family-thunder: Thunder-light, Arial, sans-serif;
$font-size-base: 18px !default;

//** Buttons
$btn-border-width: 2px;
$btn-font-size: 16px !default;
$btn-height: 60px;



//** Forms
$input-bg-color: #fff;
$input-border-width: 2px;
$input-border-color: #EBEBEB;
$input-height: 60px;
$input-padding: 0 25px;
$textarea-height: 150px;
$input-placeholder-color: #919191;
$input-checkbox-size: 20px;

//** Tables
