.btn,
.btn-inverse {
  &:disabled {
    background-color: $gray-color-lighter;
    cursor: not-allowed;

    &:hover {
      background-color: $gray-color-lighter;
    }
  }
}

.btn {
  @extend %btn;

  &_base {
    @include btn-theme($light-color, $base-color);
  }

  &_primary {
    @include btn-theme($light-color, $primary-color);
  }

  &_secondary {
    @include btn-theme($light-color, $secondary-color);
  }

  &_attention {
    @include btn-theme($light-color, $attention-color);
  }

  &_success {
    @include btn-theme($light-color, $success-color);
  }

  &_h {
    &-50 {
      height: 50px;
      line-height: 50px;
    }
  }
}

.btn-inverse {
  @extend %btn;

  &_base {
    @include btn-inverse-theme($light-color, $base-color);
    border-color: white;
  }

  &_primary {
    @include btn-inverse-theme($light-color, $primary-color);
  }

  &_secondary {
    @include btn-inverse-theme($light-color, $secondary-color);
  }

  &_attention {
    @include btn-inverse-theme($light-color, $attention-color);
  }
}
