@mixin btn {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: $mainRed;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease;

  &:hover {
    background: $redButtonHover;
  }
}

@mixin btn-link {
  font-weight: 400;
  font-size: 20px;
  color: $mainRed;
  text-decoration: none;

  &:hover {
    color: $redButtonHover;
  }
}
