.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 39px 0 20px;
  font-family: $font-family-title;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-phone {
  margin-left: 120px;
  margin-right: 62px;
  font-weight: 600;
  font-size: 24px;
  color: $mainTitle;
  text-decoration: none;
}

.header-button {
  padding: 10px 33px;
  @include btn();
}

.header-menu__wrap {
  list-style: none;
}

.header-menu__list {
  display: flex;
  align-items: center;
}

.header-menu__el {
  margin-right: 26px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }

  &._hasSubmenu {
    &:hover,
    &:hover .header-submenu {
      .header-submenu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.header-menu__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: $mainTitle;
  display: flex;
  align-items: center;

  & svg {
    margin-left: 5px;
  }

  &._action,
  &:hover {
    color: $mainRed;
  }
}

.header-submenu {
  transition: opacity 1s ease;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 40px;
  width: 320px;
  margin: 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 7px 25px 16px 40px;
  list-style-image: url("/skin/images/Ellipse 21.svg");

  &::after {
    content: '';
    position: absolute;
    left: 35px;
    top: -28px;
    border: 10px solid transparent;
    border-bottom: 25px solid #fff;
  }
}

.header-submenu._one_el {
  width: auto;
  padding: 0 30px 10px;
}

.header-submenu__el {
  margin-top: 13px;
  width: 50%;
}

.header-submenu__link {
  text-decoration: none;
  font-family: $font-family-title;
  line-height: 16px;
  color: $mainTitle;
  cursor: pointer;

  &:hover {
    color: $mainRed;

  }
}
