.icon-Group_581 {
  font-size:(19/(10*1.6))*1rem;
  width:(19/19)*1em;
}
.icon-Polygon_1 {
  font-size:(8/(10*1.6))*1rem;
  width:(10/8)*1em;
}
.icon-Polygon_3 {
  font-size:(8/(10*1.6))*1rem;
  width:(10/8)*1em;
}
.icon-Star_76 {
  font-size:(24/(10*1.6))*1rem;
  width:(26/24)*1em;
}
.icon-Union {
  font-size:(30/(10*1.6))*1rem;
  width:(30/30)*1em;
}
.icon-Union_1 {
  font-size:(30/(10*1.6))*1rem;
  width:(30/30)*1em;
}
.icon-Union_2 {
  font-size:(27/(10*1.6))*1rem;
  width:(30/27)*1em;
}
.icon-Vector12 {
  font-size:(30/(10*1.6))*1rem;
  width:(24/30)*1em;
}
.icon-Vector13 {
  font-size:(30/(10*1.6))*1rem;
  width:(30/30)*1em;
}
.icon-Vector14 {
  font-size:(21/(10*1.6))*1rem;
  width:(30/21)*1em;
}
.icon-Vector_5 {
  font-size:(25/(10*1.6))*1rem;
  width:(25/25)*1em;
}
