.icon-Group_131deff {
  font-size:(55/(10*1.6))*1rem;
  width:(46/55)*1em;
}
.icon-Vector {
  font-size:(52/(10*1.6))*1rem;
  width:(52/52)*1em;
}
.icon-Vectoradvanages {
  font-size:(55/(10*1.6))*1rem;
  width:(55/55)*1em;
}
.icon-Vectorcovid {
  font-size:(55/(10*1.6))*1rem;
  width:(48/55)*1em;
}
.icon-Vectorfloor {
  font-size:(56/(10*1.6))*1rem;
  width:(56/56)*1em;
}
.icon-Vectorstatoscop {
  font-size:(55/(10*1.6))*1rem;
  width:(55/55)*1em;
}
.icon-arrow {
  font-size:(30/(10*1.6))*1rem;
  width:(30/30)*1em;
}
.icon-arrowBlue {
  font-size:(16/(10*1.6))*1rem;
  width:(21/16)*1em;
}
.icon-arrowbutton {
  font-size:(16/(10*1.6))*1rem;
  width:(21/16)*1em;
}
.icon-article-img {
  font-size:(340/(10*1.6))*1rem;
  width:(350/340)*1em;
}
.icon-article_img {
  font-size:(340/(10*1.6))*1rem;
  width:(350/340)*1em;
}
.icon-calendar {
  font-size:(55/(10*1.6))*1rem;
  width:(55/55)*1em;
}
.icon-circle_ok {
  font-size:(50/(10*1.6))*1rem;
  width:(50/50)*1em;
}
.icon-electrolux {
  font-size:(43/(10*1.6))*1rem;
  width:(183/43)*1em;
}
.icon-eye {
  font-size:(36/(10*1.6))*1rem;
  width:(40/36)*1em;
}
.icon-google {
  font-size:(30/(10*1.6))*1rem;
  width:(30/30)*1em;
}
.icon-header-icon {
  font-size:(81/(10*1.6))*1rem;
  width:(71/81)*1em;
}
.icon-i {
  font-size:(50/(10*1.6))*1rem;
  width:(50/50)*1em;
}
.icon-letter {
  font-size:(22/(10*1.6))*1rem;
  width:(23/22)*1em;
}
.icon-newBigLogo {
  font-size:(374/(10*1.6))*1rem;
  width:(488/374)*1em;
}
.icon-newlogo {
  font-size:(57/(10*1.6))*1rem;
  width:(49/57)*1em;
}
.icon-phone {
  font-size:(27/(10*1.6))*1rem;
  width:(18/27)*1em;
}
.icon-point {
  font-size:(26/(10*1.6))*1rem;
  width:(21/26)*1em;
}
.icon-select {
  font-size:(10/(10*1.6))*1rem;
  width:(13/10)*1em;
}
.icon-yelp {
  font-size:(30/(10*1.6))*1rem;
  width:(31/30)*1em;
}
