.area {
  padding: 213px 0 50px;
  background: $lightBg;
}

.area-title {
  font-family: $font-family-title;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  @include media(950px) {
    font-size: 52px;
  }
  @include media(767px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.area-text {
  margin-top: 25px;
  line-height: 25px;
  color: $reviewText;
  font-size: 16px;
  @include media(950px) {
    font-size: 14px;
    margin-top: 16px;
  }
}

.area-wrap {
  margin-top: 88px;
  display: flex;
  flex-wrap: wrap;
  @include media(950px) {
    margin-top: 50px;
  }
  @include media(767px) {
    margin-top: 32px;
    flex-direction: column;
  }
}

.area-item {
  width: 30%;
  margin-right: 30px;
  margin-bottom: 30px;
  align-self: flex-start;
  &:nth-child(2),
  &:nth-child(5) {
    margin-right: 0;
  }

  & img {
    display: block;
    width: 100%;
    height: 100px;
  }

  &._big-item {
    width: calc(66% - 33px);
    @include media(950px) {
      width: 30%;
    }
    @include media(767px) {
      width: 100%;
    }
  }

  @include media(767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.area-list {
  background: #fff;
  padding: 27px 50px 50px;
  @include media(767px) {
    padding: 27px 40px 40px;
  }
}

.area-list-title {
  color: $mainTitle;
  font-family: $font-family-title;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  @include media(767px) {
    font-size: 32px;
  }
}

.area-list-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 15px;
  list-style-image: url("/skin/images/Ellipse 146.png");
  @include media(767px) {
    flex-direction: column;
  }
}

.area-list-item {
  width: 100%;
}

.area-item._big-item .area-list-item {
  width: 50%;
  @include media(767px) {
    width: 100%;
  }
}
.area-list-item {
  font-size: 16px;
  line-height: 25px;
  margin-top: 10px;
  @include media(767px) {
    font-size: 14px;
  }
}
